/* AboutPage.css */

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  background-color: #f8f9fa;
}
.title {
  display: flex;
  justify-content: center;
}

.about-content {
  flex-grow: 1;
  padding: 20px;
}

.about-content h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-content p {
  color: #555;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}
